/* General Styles */
.text-brown {
    color: #330000;
}

.text-peach {
    color: #D09683;
}

.border-bottom-brown {
    border-bottom: 1px solid #73605B;
}

.border-top-brown {
    border-top: 1px solid #73605B;
}

.border-brown {
    border: 1px solid #73605B !important;
}

.background-brown {
    background: #330000;
}

/* Navbar Styles */

.header-image {
    width: 100%; 
    height: auto; 
    max-height: 420px; 
}

.navbar a {
    color: #330000 !important;  
    font-weight: bold; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #1a0000 !important;  
}

.blog-card:hover {
    cursor: pointer;
    background: #dea592; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.small-card {
    background: #D09683;
    border: none;
    color: black;
}

.small-card:hover {
    color: white;
    background: #dea592;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); 
}

.badge-link {
    text-decoration: none; 
    transition: color 0.3s ease;
}

.badge-link .badge {
    background-color: #1a0000;
    color: #D09683; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.badge-link:hover .badge {
    background-color: #1a0000; 
    color: #ddb3a5; 
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page-item {
    display: flex;
    align-items: center; 
    margin-top: 5px;
}


.pagination .page-link {
    font-family: 'Borel';
    color: #330000;
    background-color: #F3D6C3;
    border: 1px solid #330000;
    transition: background-color 0.3s ease, color 0.3s ease;
    line-height: 1.3; 
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 15px;
}


.pagination .page-link:hover {
    background-color: #720000;
    color: #F3D6C3;
}

.pagination .page-item.active .page-link {
    background-color: #330000;
    color: #F3D6C3;
    border-color: #330000;
}

.pagination .page-item.disabled .page-link {
    color: #A67A6A;
    background-color: #F3D6C3;
    border-color: #A67A6A;
    cursor: not-allowed;
}

.custom-brown-btn {
    background-color: #330000; /* Brown color */
    color: #F3D6C3; /* Light cream color for text */
    font-weight: bolder;
}

.custom-brown-btn:hover {
    background-color: #1a0000; /* Darker brown on hover */
    color: #F3D6C3; /* Ensure the text remains light on hover */
}
